.tableContent {
  width: 100% !important;
  background: var(--gray-50) !important;
}

.table {
  min-width: 650px !important;
}

.containerTable {
  width: 100% !important;
}

.caption {
  background: var(--gray-50) !important;
}
