.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 2rem;

  h1 {
    color: var(--primary);
    margin-bottom: 4rem;
  }
}

.containerOptions {
  width: 100%;
  height: 100%;
  max-width: 1080px;
}

.tableContent {
  width: 100% !important;
  background: var(--gray-50) !important;
}

.table {
  min-width: 650px !important;
}

.containerTable {
  width: 100% !important;
}

.caption {
  background: var(--gray-50) !important;
}

.containerSearchButton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 720px) {
  .containerSearchButton{
    flex-direction: column;
  }
}

.containerPagination{
  display: flex;
  flex: 1;
}

.containerSearch{
  display: flex;
}
