.main {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container {
  display: flex;
  //flex: 1 1 auto;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.content {
  overflow-y: auto;
  flex: 1 1 auto;
  max-width: calc(100% - 240px);
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .content {
    max-width: 100%;
  }
}
